/**
 * General Layout
 */

@media screen and (min-width: 768px) {
	.site-header {
		.site-branding,
		.site-logo-anchor,
		.site-logo-link {
			@include span(3 of 12);
			display: block;
			clear: both;

			img {
				height: auto;
				max-width: 100%;
				max-height: none;
			}
		}

		.site-logo-link {
			margin: -40px 0 0 14px;
			position: relative;
			width: 208px;
			z-index: 99;
		}
	}

	.woocommerce-active {
		.site-header {
			.secondary-navigation {
				@include span(6 of 12);
				float: right;
				margin-right: 17px;
			}

			.site-search {
				@include span(last 3 of 12);
				clear: none;
			}

			.main-navigation {
				@include span(10 of 12);
				clear: both;
				float: right;
				margin-right: 0;
				padding-left: 20px;
			}

			.site-header-cart {
				margin-right: 20px;
				margin-bottom: 0;
				float: right;
				position: relative;
				top: 50px;
				z-index: 19;
			}
		}
	}

	.site-branding{
		.site-description {
			margin-bottom: 0;
			display: block;
		}
	}

	.site-branding,
	.site-search,
	.site-header-cart,
	.site-logo-anchor {
		margin-bottom: 1em;
	}

	.site-header {
		.subscribe-and-connect-connect {
			float: right;
			margin-bottom: 1em;

			.icons {
				list-style: none;
				margin: 0;

				a {
					font-size: 1em !important;
				}

				li {
					margin: 0 0 0 .53em !important;
					display: inline-block;
				}
			}
		}
	}

	.col-full {
		@include clearfix;
		@include container(67em);
	}

	.site-content {
		@include clearfix;
		padding: 0 2em;
	}

	.home .site-content {
		padding: 0;
	}

	.content-area {
		@include span(9 of 12);
	}

	.widget-area {
		@include span(last 3 of 12);
	}

	.right-sidebar {
		.content-area {
			@include span(9 of 12);
		}

		.widget-area {
			@include span(last 3 of 12);
		}
	}

	.left-sidebar {
		.content-area {
			@include span(last 9 of 12);
		}

		.widget-area {
			@include span(3 of 12);
		}
	}

	.bastelkeks-full-width-content {
		.content-area {
			@include span(full);
		}
	}

	.content-area,
	.widget-area {
		margin-bottom: 2.618em;
	}

	/**
	 * Full width & homepage template
	 */
	.page-template-template-fullwidth-php,
	.page-template-template-homepage-php {
		.content-area {
			@include span(full);
		}
	}

	/**
	 * Footer widgets
	 */
	.footer-widgets {
		@include clearfix;
		padding-top: 3em;

		&.col-2 {
			.block {
				@include span(6 of 12);

				&.footer-widget-2 {
					@include last;
				}
			}
		}

		&.col-3 {
			.block {
				@include span(4 of 12);

				&.footer-widget-3 {
					@include last;
				}
			}
		}

		&.col-4 {
			.block {
				@include span(3 of 12);

				&.footer-widget-4 {
					@include last;
				}
			}
		}
	}
}

@media screen and (max-width: 67em) {
	.col-full {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.site-header {
		.site-logo-link {
			@include span(6 of 12);
			display: block;
			clear: both;

			img {
				height: auto;
				max-width: 100%;
				max-height: none;
			}
		}

		.site-logo-link {
			margin: 1em 0 1em 2em;
			position: relative;
			width: 208px;
			z-index: 99;
		}
	}

	.site-content {
		padding: 0 2em;
	}
}

@media screen and (max-width: 568px) {
	.col-full {
		margin: 0;
	}

	.site-header {
		.site-logo-link {
			width: 180px;
		}

		.site-description {
			padding: 10px 0;
			top: 79px;
			line-height: 20px;
		}
	}
}
