/**
 * Main Naivgation
 */

/**
 * General Menu Styles
 */
.main-navigation {
	clear: both;
}

.secondary-navigation {
	display: none;
}

.menu-toggle {
	cursor: pointer;
	margin: 1.618em auto;
	display: block;
	width: 100%;
	text-align: left;

	&:before {
		font-family: "FontAwesome";
		font-weight: 400;
		content: "\f0c9";
		margin-right: .53em;
	}
}

@media screen and (max-width: 768px) {
	.menu-toggle {
		margin-bottom: 0;
	}
}

.primary-navigation {
	display: none;
}

.handheld-navigation {
	display: none;
}

.main-navigation.toggled {
	.handheld-navigation {
		display: block;
		border-bottom: 2px solid lighten($color-purple, 20%);
	}
}

.main-navigation ul {
	margin-left: 0;
	list-style: none;

	ul {
		display: block;
		margin-left: 1.387em;
	}

	li {
		a {
			padding: .857em 1.387em;
			display: block;

			&:before {
				content: "";
				margin-right: .53em;
				font-weight: bold;
			}

			&:hover {}
		}
	}
}

@media screen and (max-width: 768px) {
	.main-navigation ul {
		margin-bottom: 0;

		li {
			a {
				padding: .2em 1.387em;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.menu-toggle,
	.handheld-navigation,
	.main-navigation.toggled .handheld-navigation {
		display: none;
	}

	.primary-navigation {
		display: block;
		margin-right: 7px;
	}

	.main-navigation,
	.secondary-navigation {
		clear: both;
		display: block;
		width: 100%;

		// first level
		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			display: block;

			li {
				position: relative;
				display: inline-block;
				text-align: left;

				a {
					display: block;

					&:before {
						display: none;
					}
				}

				// link hover
				&:hover,
				&.focus {
					> ul {
						left: 0;

						li {
							ul {
								left: -999em;
							}

							&:hover,
							&.focus {
								ul {
									left: 100%;
								}
							}
						}
					}
				}

			}

			// second level
			ul {
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				background-color: #2c2d33;

				&:hover {
					> a {};
				}

				li {
					a {
						width: 200px;
					}
				}

				// third level
				ul {
					left: 100%;
					top: 0;
				}

			}
		}

	}

	ul.menu {
		li {
			&.current-menu-item {
				> a {
					color: lighten($color-purple, 20%);
				}
			}
		}
	}

	/**
	 * Primary Navigation
	 */
	.main-navigation {
		position: relative;
		margin-top: -67px;
		text-align: right;
		letter-spacing: .05em;
		background-color: $color-purple;

		ul.menu,
		ul.nav-menu {
			> li {
				// The first level menu item
				> a {
					padding: 6px 12px 5px 23px;
					color: #fff;
				}

				&:before {
					content: "\2022";
					color: #fff;
					display: block;
					position: absolute;
					top: 20%;
				}

				&:first-child {
					margin-left: -1em;

					&:before {
						display: none;
					}
				}

				&.menu-item-has-children,
				&.page_item_has_children {
					&:hover {
						&:after {
							display: block;
						}
					}

					> a {
						&:after {
							// The dropdown indicator
							content: "\f107";
							font-family: "FontAwesome";
							margin-left: 1em;
							line-height: 1;
						}
					}
				}
			}

			ul {
				// Dropdowns
				background-color: #2c2d33;
				margin-left: 0;

				li {
					background-color: rgba(0,0,0,0.025);

					a {
						padding: .857em 1em;
					}

					&:last-child {
						border-bottom: 0;
					}

					&.menu-item-has-children,
					&.page_item_has_children {
						> a {
							&:after {
								// The dropdown indicator
								content: "\f105";
								font-family: "FontAwesome";
								float: right;
							}
						}
					}
				}

				ul {
					margin-left: 0;
					border-top-color: $color_border;
					box-shadow: none;
				}

				a:hover,
				li:hover > a {
					background-color: rgba(0,0,0,0.025);
				}
			}
		}

		a {
			padding: 0 1em 2.244em;
		}
	}

	/**
	 * Secondary Navigation
	 */
	.secondary-navigation {
		margin: 0;
		position: relative;
		top: 40px;
		width: auto;
		clear: none;
		line-height: 1;

		.menu {
			font-size: 1em;
			width: auto;
			float: right;

			> li:hover > a {
				text-decoration: none;
			}

			> li > a {
				position: relative;
				letter-spacing: .05em;
				font-family: $segoe-bold;

				&:before {
					content: "";
					display: block;
					width: 1px;
					height: 45%;
					background-color: $color-purple;
					position: absolute;
					top: 27%;
					left: 0;
				}
			}

			> li:first-child a:before {
				display: none;
			}

			ul {
				background-color: #2c2d33;

				a {
					padding: .326em .857em;
					background: rgba(#000,0.05);
				}

				li:first-child a {
					padding-top: 1em;
				}

				li:last-child a {
					padding-bottom: 1em;
				}

				ul {
					margin-top: -.618em;
				}
			}

			a {
				padding: 1.387em 2px 1.387em 8px;
				font-weight: 400;
				color: $color_links;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (max-width: 65em) {
	.main-navigation {
		ul.menu,
		ul.nav-menu {
			li {
				a {
					padding-right: 0;
					padding-left: 10px;
					font-size: .937em;
					letter-spacing: normal;
				}
			}
		}
	}
}
