/**
 * Pagination
 */

.site-main [class*="navigation"] {
	margin: 0 0 $vspacing;
	overflow: hidden;

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

}

/**
 * Pagination
 */
.bastelkeks-pagination,
.woocommerce-pagination {
	padding: 1em 0;
	border: 1px solid $color_border;
	border-width: 1px 0;
	text-align: center;
	clear: both;

	.page-numbers {
		list-style: none;
		margin: 0;
		@include clearfix;

		li {
			display: inline-block;

			.page-numbers {
				border-left-width: 0;
				display: inline-block;
				padding: .327em .857em;

				&.current {
					font-weight: 700;
					background-color: rgba(0,0,0,0.0125);
				}

				&.dots {
					background-color: transparent;
				}

				&.prev,
				&.next {
					padding-left: 1.387em;
					padding-right: 1.387em;
				}
			}

			a.page-numbers {
				&:hover {
					border-color: $color_border;
				}
			}
		}
	}
}
