/**
 * Widgets
 */

.widget {
	margin: 0 0 3.631em;

	select {
		max-width: 100%;
	}

	.widget-search .search-submit {
		display: none;
	}

	h1 {
		font-size: 1em;
		letter-spacing: 0;
		border-bottom: 3px solid $color_body;
		padding: 0 0 1em;
		margin-bottom: 1em;
		font-weight: 700;
	}

	ul {
		margin-left: 0;
		list-style: none;

		ul {
			margin-left: 1.618em;
		}
	}
}

.widget-area {
	.widget {
		a.button {
			font-weight: 700 !important;
			color: #fff;

			&:hover {
				color: #fff;
			}
		}
	}
}

.header-widget-region {
	@include clearfix;

	.widget {
		margin: 0;
		padding: 1em 0;
		font-size: .857em;
	}
}

.widget_search,
.widget_product_search {
	form {
		position: relative;

		input[type=text],
		input[type=search] {
			width: 100%;
			padding-left: 2.618em;
		}

		input[type=submit] {
			display: none;
		}

		&:before {
			content: "\f002";
			font-family: "FontAwesome";
			position: absolute;
			top: .9em;
			left: 1em;
			line-height: 1;
			color: #fff;
		}
	}
}

.widget_recent_entries,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_recent_comments,
.widget_nav_menu,
.widget_links {
	ul {
		margin: 0;

		li {
			list-style: none;
			margin-bottom: .618em;

			&:before {
				font-family: "FontAwesome";
				margin-right: .53em;
				display: inline-block;
				opacity: 0.25;
			}
		}

		.sub-menu {
			margin-top: .618em;
			margin-left: 1.618em;
		}
	}
}

.widget-area,
.footer-widgets {
	#wp-calendar {
		th,
		td {
			padding: .236em;
			text-align: center;
		}
	}
}

.widget_recent_entries,
.widget_pages {
	ul {
		li {
			&:before {
				content: "\f0f6";
			}
		}

		ul.children {
			margin: .618em 0 0 1.387em;
		}
	}
}

.widget_categories {
	ul {
		li {
			&:before {
				content: "\f114";
			}

			&.current-cat {
				&:before {
					content: "\f115";
				}
			}
		}
	}
}

.widget_archive {
	ul {
		li {
			&:before {
				content: "\f115";
			}
		}
	}
}

.widget_recent_comments {
	ul {
		li {
			&:before {
				content: "\f0e5";
			}
		}
	}
}

.widget_nav_menu {
	ul {
		li {
			position: relative;
			display: inline-block;

			&:before {
				content: "\2022";
				position: absolute;
				top: 7%;
				color: $color-purple;
				opacity: 1;
			}

			&:first-child:before {
				display: none;
			}

			& > a {
				padding-left: 15px;
				font-weight: normal;
			}

			&:first-child > a {
				padding-left: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.widget_nav_menu {
		ul {
			text-align: right;
		}
	}
}

.widget_links {
	ul {
		li {
			&:before {
				content: "\f08e";
			}
		}
	}
}

.widget-area {
	.widget {
		font-size: .857em;

		h1.widget-title {
			font-size: 1.387em;
		}

		a {
			color: $color_body;
			font-weight: 400;

			&:hover {
				color: $color_links;
			}
		}
	}
}

.footer-widgets.col-4 {
	.footer-widget-1 {
		margin-top: 2px;
		margin-right: 2.35%;
	}

	.footer-widget-2 {
		width: 47%;
		margin-right: 10px;
	}
	.footer-widget-3 {
		margin: -5px 0 0;
		width: 10%;
		font-size: 2em;
		line-height: 1;
		text-align: right;

		a {
			padding-left: 5px;
		}
	}

	.footer-widget-4 {
		width: 16%;
	}
}

@media screen and (max-width: 768px) {
	.footer-widgets.col-4 {
		.footer-widget-1,
		.footer-widget-2,
		.footer-widget-3,
		.footer-widget-4 {
			margin: 0 0 1em;
			float: left;
			width: 100%;
		}

		.footer-widget-3 {
			text-align: left;
		}
	}
}

/**
 * Jetpack subscription form
 */
.jetpack_subscription_widget {
	h3 {
		padding-right: 7px;
		display: block;
		float: left;
		font-family: $open-sans;
		font-size: 1.067em;
		font-weight: normal;
		color: $color-purple;
	}

	form {
		margin-bottom: 0;
		display: block;
		float: left;

		#subscribe-email,
		#subscribe-submit {
			margin-bottom: 0;
			display: inline-block;
		}

		#subscribe-email {
			#subscribe-field {
				padding: 1px 5px;
				width: 100%;
				font-family: $open-sans;
				line-height: 1.618em;
				color: #fff;
				background-color: $color-purple;
				vertical-align: middle;
			}
		}

		#subscribe-submit {
			input[type="submit"] {
				padding: 6px 1em 5px;
				font-family: $open-sans;
				font-weight: normal;
				box-shadow: none;
				vertical-align: middle;
			}
		}
	}
}
