/**
 * Global styles
 */

* {
	@include box-sizing(border-box);
}

body {
	background-color: $body-background;
}

#page {
	margin: 0 auto;
	width: 67em;
	border-right: 2px solid $color-purple;
	border-left: 2px solid $color-purple;
}

@media screen and (max-width: 67em) {
	#page {
		width: 100%;
		border: 0;
	}
}

@media screen and (max-width: 768px) {
	#page {
		width: 100%;
		border: 0;
	}
}

/**
 * Header
 */
.site-header {
	background-color: $body-background;
	color: #9aa0a7;
	background-position: center center;
	position: relative;

	.site-logo-anchor {
		display: block;

		img {
			max-height: 2.618em;
			width: auto;
		}
	}

	.site-branding,
	.site-logo-anchor {
		margin-bottom: 1.618em;
	}

	.site-description {
		margin: 0;
		display: block;
		position: relative;
		top: 89px;
		font-size: 1.35em;
		line-height: 56px;
		color: #fff;
		z-index: 9;

		& > span {
			position: relative;
			left: 240px;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-purple;
			z-index: -1;
		}
	}

	.widget {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 768px) {
	.site-header {
		.site-description {
			margin: 0;
			display: block;
			position: relative;
			font-size: 1em;
			line-height: 42px;
			color: #fff;
			z-index: 9;

			& > span {
				position: relative;
				left: 20px;
			}
		}
	}
}

.home.blog,
.home.page:not(.page-template-template-homepage) {
	.site-header {
		margin-bottom: 4.236em;
	}
}

.no-wc-breadcrumb {
	.site-header {
		margin-bottom: 4.236em;
	}
}

.header-widget-region {
	position: relative;
	z-index: 99;
}

.site-branding {
	h1 {
		font-size: 1.618em;
		letter-spacing: -1px;
		margin: 0;

		a {
			font-weight: 700;
		}
	}

	.site-description {
		font-size: .857em;
		display: none;
	}
}

/**
 * Main content area
 */
.site-main {
	margin-bottom: 2.618em;
}

.site-content {
	outline: none;
}

.page-template-template-homepage {
	.site-main {
		padding-top: 4.236em;
	}
}

/**
 * Footer
 */
.site-footer {
	font-family: $footer-font;
	font-size: 1.067em;
	color: $color-purple;
	padding: 1.618em;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color_body;
	}

	a:not(.button) {
		color: $color_links;
	}

	.widget {
		margin-bottom: 0;
	}
}

.site-info {
	padding: 2.618em 0;
}

/**
 * Alignment
 */
.alignleft {
	display: inline;
	float: left;
	margin-right: $vspacing;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $vspacing;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/**
 * Accessibility
 */
.screen-reader-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/**
 * Clearing
 */
.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@extend %clearfix;
}

/**
 * Tables
 */
table {
	border-spacing: 0;
	width: 100%;
	border-collapse: separate;

	caption {
		padding: 1em 0;
		font-weight: 700;
	}

	td,
	th {
		padding: .857em 1.387em;
		text-align: left;
		vertical-align: top;

		p:last-child {
			margin-bottom: 0;
		}
	}

	thead {
		th {
			border-bottom: 2px solid $color_border;
			text-transform: uppercase;
			padding: 1.387em;
			vertical-align: middle;
		}
	}

	tbody {
		tr:nth-child(2n) {
			td {
				background: rgba(0,0,0,0.015);

				&:last-child {
					border-right: 0;
				}
			}
		}

		td {
			background: rgba(0,0,0,0.025);
		}

		h2 {
			font-size: 1em;
			letter-spacing: normal;
			font-weight: normal;

			a {
				font-weight: normal;
			}
		}

		tr:last-child {
			td {
				border-bottom: 0;
			}

			th:first-child {
				border-bottom: 0;
			}
		}
	}

	tfoot {
		th,
		td {
			border-top:1px dotted $color_border;
		}
	}
}

.homepage-news {
	@include clearfix;
	position: relative;
	display: block;
	float: left;
	margin-top: -85px;
	margin-bottom: 20px;
	color: #fff;

	& > img {
		position: absolute;
		bottom: 1px;
		left: 3.5%;
		width: 12%;
		height: auto;
	}

	& > div.homepage-news-text {
		margin-right: 2%;
		padding: 3px 10px;
		position: relative;
		float: right;
		width: 80%;
		background-color: $color-purple;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
		border-radius: 15px;

		& > div.homepage-news-text-content {
			padding: 15px 10px;
			border-top: 2px dashed #fff;
			border-bottom: 2px dashed #fff;

			& > p {
				font-size: 1.067em;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.homepage-slider {
	@include clearfix;
	position: relative;
	display: block;
	margin: 3px;
	padding: 3px;
	border: 3px dashed $color-purple;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;

	& .widget {
		margin-bottom: 0;
	}

	& .metaslider {
		& img {
			height: 100%;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			-ms-border-radius: 15px;
			-o-border-radius: 15px;
			border-radius: 15px;
		}

		& a.rslides_nav {
			width: 37px;
			height: 55px;
			color: transparent;
			background-color: transparent;
			padding: 0;
			top: 50%;
			position: absolute;
			z-index: 9;
			cursor: pointer;
			margin-top: -30px;
			opacity: 1;
		}

		& a.prev {
			left: -9px;
			background-image: url(images/icon-arrow-left.png);
			background-repeat: no-repeat;
		}

		& a.next {
			right: -9px;
			background-image: url(images/icon-arrow-right.png);
			background-repeat: no-repeat;
		}
	}
}

.homepage-content {
	@include clearfix;
	position: relative;
	display: block;
	margin: 0 2%;
	padding: 3px 10px;
	position: relative;
	width: 96%;
	color: #fff;
	background-color: $color-purple;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;

	& > article.hentry {
		margin-bottom: 0;
		padding: 15px 10px;
		border-top: 2px dashed #fff;
		border-bottom: 2px dashed #fff;

		& p {
			font-size: 1.067em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.page-template-template-homepage {
		.site-main {
			padding-top: 20px;
		}
	}

	.homepage-news {
		margin-top: .5em;
	}
}
