/**
 * Typography
 */

@font-face {
	font-family: 'SegoePrintW01-Regular';
	src: url('fonts/segoeprint-regular/SegoePrintW01-Regular_gdi.eot');
	src: url('fonts/segoeprint-regular/SegoePrintW01-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/segoeprint-regular/SegoePrintW01-Regular_gdi.woff') format('woff'),
		url('fonts/segoeprint-regular/SegoePrintW01-Regular_gdi.ttf') format('truetype'),
		url('fonts/segoeprint-regular/SegoePrintW01-Regular_gdi.otf') format('opentype'),
		url('fonts/segoeprint-regular/SegoePrintW01-Regular_gdi.svg#SegoePrintW01-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2122;
}

@font-face {
	font-family: 'SegoePrintW01-Bold';
	src: url('fonts/segoeprint-bold/SegoePrintW01-Bold_gdi.eot');
	src: url('fonts/segoeprint-bold/SegoePrintW01-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/segoeprint-bold/SegoePrintW01-Bold_gdi.woff') format('woff'),
		url('fonts/segoeprint-bold/SegoePrintW01-Bold_gdi.ttf') format('truetype'),
		url('fonts/segoeprint-bold/SegoePrintW01-Bold_gdi.otf') format('opentype'),
		url('fonts/segoeprint-bold/SegoePrintW01-Bold_gdi.svg#SegoePrintW01-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2122;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
  	url('fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
  	url('fonts/fontawesome/fontawesome-webfont.woff?v=4.3.0') format('woff'),
  	url('fonts/fontawesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
  	url('fonts/fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: .938em;
}

body,
button,
input,
select,
textarea {
	color: $color_body;
	font-family: $base-font;
	line-height: 1.618;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
	clear: both;
	font-weight: 700;
	margin: 0 0 .618em;
	color: darken( $color_body, 20% );
}

h1,
.alpha {
	font-size: 2.244em;
	letter-spacing: -1px;
	line-height: 1.214;
	font-weight: 300;

	a {
		font-weight: 300;
	}
}

h2,
.beta {
	font-size: 1.618em;
	letter-spacing: -1px;
}

h3,
.gamma {
	font-size: 1.387em;
}

h4,
.delta {
	font-size: 1em;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 0 0 $vspacing;
}

p {
	margin: 0 0 $vspacing;
}

ul,
ol {
	margin: 0 0 $vspacing 3em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $vspacing;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.618em;
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	padding: 0 $vspacing;
	border-left: 3px solid rgba(0,0,0,0.05);
	font-style: italic;
}

address {
	margin: 0 0 $vspacing;
}

pre {
	background: #fff9c0;
	font-family: "Courier 10 Pitch", Courier, monospace;
	margin-bottom: 1.618em;
	padding: 1.618em;
	overflow: auto;
	max-width: 100%;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background-color: rgba(0,0,0,0.05);
	padding: .202em .53em;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
	font-weight: 700;
	background: transparent;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

table {
	margin: 0 0 $vspacing;
	width: 100%;
}

th {
	font-weight: bold;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
	display: block;
}

a {
	color: $color_links;
	text-decoration: none;
	font-weight: 700;

	&:focus,
	&:active {
		outline: 0;
	}
}

// Wait, what..?
// Don't look at the following, and definitely dont look at
// inc/functions/extras.php for more information...
.bastelkeks-cute * {
	font-family: "Comic Sans MS", sans-serif;
}
