// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

// Base fonts
$segoe-regular:		"SegoePrintW01-Regular", sans-serif;
$segoe-bold:		"SegoePrintW01-Bold", sans-serif;
$open-sans:			"Open Sans", sans-serif;
$base-font:			$segoe-regular;
$header-font:		$segoe-regular;
$footer-font:		$open-sans;

// Base color scheme
$color-purple:		#a43455;
$color-blue:		#6f7bb6;
$color-violet:		#915c82;

$body-background:	#fff;
$color_body:		#444;
$color_links:		$color-purple;
$color_border:		rgba(0,0,0,.1);
$error:				#e2401c;
$success:			#17ba6f;
$info:				lighten($color-blue, 20%);

$vspacing:			1.618em;

// Susy
$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after
);
